
<mat-card>
  <div class="tab-container">
    <div class="tab">
      <!-- <div class="tablinks" (click)="openCity('installation')">
        Installation
      </div>
      <div class="tablinks" (click)="openCity('profile')">Profile</div>
      <div class="tablinks" (click)="openCity('dashboard')">Dashboard</div>
      <div class="tablinks" (click)="openCity('LRPA')">LRPA</div>
      <div class="tablinks" (click)="openCity('Miscellaneous')">
        Miscellaneous
      </div>
      <div class="tablinks" (click)="openCity('ScreenTime')">Screen Time</div>
      <div class="tablinks" (click)="openCity('Troublesooting')">
        Troubleshooting
      </div> -->
      <div *ngFor="let item of tabs" class="tablinks" [ngClass]="{'active':item.name ===currentItem}" (click)="openCity(item.name)">
        {{item.tab}}
      </div>
    </div>
    <div class="tab-content">
      <ng-container
        *ngTemplateOutlet="
          currentItem === 'installation'
            ? installation
            : currentItem === 'profile'
            ? profile
            : currentItem === 'dashboard'
            ? dashboard
            : currentItem === 'LRPA'
            ? LRPA
            : currentItem === 'Miscellaneous'
            ? Miscellaneous
            : currentItem === 'ScreenTime'
            ? ScreenTime
            : Troubleshooting
        "
      >
      </ng-container>
      <div class="faq_body">
      <ng-template #installation >
        <mat-expansion-panel class="card" >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              Which android os is required to run this app?
            </mat-panel-description>
          </mat-expansion-panel-header >
          <p class="faq_answer">Android 7.0 or above OS is required to run the app.</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              Is this app MAC and IOS compatible?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">
            Yes, it is, Go To Apple Store and on the search bar type "LiL@Home"
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              How to search app on play store?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">Go to Play store and on the search bar type "LiL@Home".</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              Do we have web version of this app?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">
            This app can be accessed through desktop/laptop as well, you may use
            the URL: https://lilk12.learnindialearn.com/.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              Can i install this app on multiple device?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">
            Yes, you can install this application on multiple devices, however
            you'll be able to access on one device at a time only.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              Can i use the app offline?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">
            No, LiL@Home app cannot be used offline as the courses and videos
            are available online. Also, your performance and progress are mapped
            online
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              Do we need to update the app when prompted?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">
            Yes, In order to get the new features and updates it is advised to
            do so whenever there is an update.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              Frequently i am logged of the app now i am unable to login?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">
            First check for the internet connectivity. If the connectivity if
            ok, check your login credentials. If they are correct then, it is
            advised to clear the chache of the app and try again. In rarest of
            the situation it might be the case the Servers are down in that case
            please report to your school Coordinator and wait till issue is
            resolved.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
      </ng-template>
      <ng-template #profile>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              How to edit my personal information?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">
            To edit/update your personal information in the profile you need to
            make a request to your school coordinator. However, you are allowed
            to change your display Picture by yourself
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              How to update mobile number and email id?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">
            You must request school coordinator to update mobile number and
            email-id (Refer above question).
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header >
            <mat-panel-description class="faq_question">
              How do i proceed if i am unable to login with the default
              password?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">
            Try the reset password functionality on login screen, in which an
            OTP will be sent to your registered mobile number. You may also
            contact your school coordinator to reset the password for you.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              Where can i see video of my interest?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">
            You can view videos of your interest on the dashboard below
            ‘Subjects’ section.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
      </ng-template>
      <ng-template #dashboard>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              Can the video on the dashboard be downloaded for future reference?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">
            You cannot download them but you can view them anytime with active
            Internet connection.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              What is flash bonus,how can i avail this and when this will
              expire?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">
            You will get flash bonus every week in the subjects for which you
            need to work harder. This will be available for 24 hours for you to
            avail. Flash bonus lapses after 24 hours.
          </p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
      </ng-template>
      <ng-template #LRPA>
        <mat-accordion>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-description class="faq_question">
                Even if my child completes the chapters and all the quizzes
                successfully, Argus doesn't reflect it under completed. How can
                we achieve 100% completion of the chapter?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="faq_answer">
              Every chapter/ week in Argus is timed for a particular duration.
              For example: Science chapter 1 to be completed between April 1 to
              April 7. If the learner completes the task on April 3, the chapter
              will still show completed only on April 8, after the scheduled
              duration.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
          </mat-expansion-panel>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-description class="faq_question">
                Can I reattempt quizzes from completed topics, will it add
                points in my profile?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="faq_answer">
              Every chapter/ week in Argus is timed for a particular duration.
              For example: Science chapter 1 to be completed between April 1 to
              April 7. If the learner completes the task on April 3, the chapter
              will still show completed only on April 8, after the scheduled
              duration.
            </p>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
          </mat-expansion-panel>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-description class="faq_question">
                For English Language and Hindi Language, I cannot find Digital
                Book, Reinforcement videos and Recap cards and Apply.
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="faq_answer"></p>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
          </mat-expansion-panel>
          <mat-expansion-panel >
            <mat-expansion-panel-header>
              <mat-panel-description class="faq_question">
                The second language information in the app is of Hindi whereas
                my child's second language is not Hindi?
              </mat-panel-description>
            </mat-expansion-panel-header>
            <p class="faq_answer"></p>
          </mat-expansion-panel>
          <mat-expansion-panel
            (opened)="panelOpenState = true"
            (closed)="panelOpenState = false"
          >
          </mat-expansion-panel>
        </mat-accordion>
      </ng-template>
      <ng-template #Miscellaneous>
        
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              Can i check my performance for each subject?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">In learning Analytics, you can check each subject performance.</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              What does the progress tab indicate?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">It shows percentage of coverage of the student in terms of topics in each subject. 
            (For a detailed video on the same Go to Settings.
             Click `Help & FAQs` and watch detailed analytics video under Miscellaneous tab).</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              What does the effort tab indicate?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">It reflects time spent by the student on each course.
             (For a detailed video on the same Go to Settings. 
            Click ‘Help & FAQs’ and watch detailed analytics video under Miscellaneous tab).</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              What does the Excellence tab indicate?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">It is the performance in quizzes for a given topic. 
            (For a detailed video on the same Go to Settings.
             Click ‘Help & FAQs’ and watch detailed analytics video under Miscellaneous tab).</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
      </ng-template>
      <ng-template #ScreenTime>
       
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              Is there an option to limit screen time on this app?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">The maximum screen time LIL aims continuously for your child is one hour (60 minutes). After 60 minutes, LIL sends you notification through .
             However, you can limit the continuous viewing to 10 min, 15 mins, 20 mins, 30 mins, 45 mins or 60 mins by following the steps: Click Student profile > Personal tab > Change duration in Goals and interest using option Goal/day.</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
      </ng-template>
      <ng-template #Troubleshooting>
       
       
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              Sometimes the video does not play displaying the message: `Your
              account with YouTube does not exist`?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">This may happen if you have not signed-in to your Google account. In that cases login into your Google account.
             if the problem persists just sign-out from the app and after few moments sign-in again.</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              What should we do if the message displayed is: `Chapter content
              not available`?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">Take a snapshot and send it to the teacher.</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              What should we do if the answer key to the worksheets does not
              match the question set?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">Take a snapshot and send it to the teacher.</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-description class="faq_question">
              Is there any particular windows version or any other application
              which will help the videos and audio to play without break and
              also take care of compatibility issues?
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p class="faq_answer">No, there isn’t any particular windows version or any other application.</p>
        </mat-expansion-panel>
        <mat-expansion-panel
          (opened)="panelOpenState = true"
          (closed)="panelOpenState = false"
        >
        </mat-expansion-panel>
      </ng-template>
      </div>
    </div>
  </div>
</mat-card>
